{
  "env": {
    "node": true,
    "es2021": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "next/core-web-vitals",
    "next/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2023
  },
  "plugins": ["@typescript-eslint", "jest"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["#", ".src"]]
      }
    }
  }
}
